<%- include("_header.ejs", {title: title}) %>
    <body>
        <div class="container">
            <div class="main">
                <form class="auth-form" action="/two-factor-authentication" method="post">
                    <h2>Two-factor authentication</h2>

                    <% if (typeof err !== "undefined") { %>
                    <div class="err">
                        <i class="fa-solid fa-ban"></i> <%= err %>
                    </div>
                    <% } %>

                    <div class="auth-form-row">
                        <label for="totp">Authentication code</label>
                        <input type="text" name="totp" id="totp" required />
                    </div>

                    <input type="hidden" name="email" value="<%= credentials.email %>">
                    <input type="hidden" name="password" value="<%= credentials.password %>">
                    <input type="hidden" name="rememberMe" value="<%= credentials.rememberMe %>">

                    <div class="auth-form-row">
                        <button type="submit">
                            <i class="fa-solid fa-shield-halved fa-sm fa-fw"></i> Verify
                        </button>
                    </div>

                    <div class="auth-form-row">
                        Not a member? <a href="/sign-up">Sign up</a>
                    </div>
                </form>

                <div class="footer">NODEST &copy; 2022</div>
            </div>
            <div class="aside">
                <div class="logo">NODEST</div>
            </div>
        </div>
    </body>
</html>
